{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Task Master</h1>

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" class="text-box" id="content" placeholder="Enter your task">
            <input type="submit" class="btn" value="Add Task">
        </form>
    </div>

    {% if tasks|length < 1 %}
    <h4>No tasks yet!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td class="actions">
                    <a href="/delete/{{task.id}}">Delete</a>
                    <a href="/update/{{task.id}}">Rename</a>
                </td>
            </tr>
        {% endfor %}

    </table>
    {% endif %}
</div>
{% endblock %}